<?xml version="1.0" ?>
<robot name="vehicle_4ws" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver_default">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>
<material name="_">
  <color rgba="0.15294117647058825 0.15294117647058825 0.15294117647058825 1.0"/>
</material>

<!-- Color -->
<material name="green">
	<color rgba="0.0 0.8 0.0 1.0"/>
</material>
<material name="red">
  <color rgba="0.8 0.0 0.0 1.0"/>
</material>
<material name="white">
  <color rgba="1.0 1.0 1.0 1.0"/>
</material>
<material name="body_red">
    <color rgba="1.0 0.0 0.0 0.5"/>
</material>
<material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
</material>
<material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
</material>
<material name="orange">
    <color rgba="1.0 0.4 0.0 1.0"/>
</material>
<material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
</material>
<material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
</material>

</robot>
